:root{
    --bg: #232582;
    --text: white;
    --highlight: #F64C72;
    --light: #99738e;
    --darkerlight: #553D67;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg);
    color: var(--text);
    margin: 0 auto;
    text-wrap: wrap;
    width: 90%;
    text-align: center;
}

h1{
    font-size: 3rem;
}

#bio{
    max-width: 800px;
    margin: auto;
}

a{
    color: var(--highlight);
}

a:hover{
    color: var(--light);
}

.center{
    margin: auto;
    width: fit-content;
}

.center *{
    width: fit-content;
}

.line-list{
    list-style-type: "- ";
}