#game{
    display: flex;
    width: 50vw;
    height: 25vh;
}
#game div{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 15rem;
    vertical-align: middle;
}